<h1>Sudoku</h1>
<h3>How to play</h3>
<div id="help">
	<h4>Rows</h4>
	<img src="images/row.gif" class="img_left">
	<img src="images/column.gif" class="img_right">
	<p>There are 9 rows in a traditional Sudoku puzzle. Every row must contain the numbers 1, 2, 3, 4, 5, 6, 7, 8, and 9. There may not be any duplicate numbers in any row. In other words, there can not be any rows that are identical. In the illustration at the left the numbers 5, 3, 1, and 2 are the "givens". They can not be changed. The remaining numbers in black are the numbers that you fill in to complete the row.</p>

	<h4>Columns</h4>
	<p>There are 9 columns in a traditional Sudoku puzzle. Like the Sudoku rule for rows, every column must also contain the numbers 1, 2, 3, 4, 5, 6, 7, 8, and 9. Again, there may not be any duplicate numbers in any column. Each column will be unique as a result. In the illustration at the left the numbers 7, 2, and 6 are the "givens". They can not be changed. You fill in the remaining numbers as shown in black to complete the column.</p>

	<h4>Boxes</h4>
	<img src="images/region.gif" class="img_left">
	<p>A box is a 3x3 box like the one shown to the left. There are 9 boxes in a traditional Sudoku puzzle. Like the Sudoku requirements for rows and columns, every box must also contain the numbers 1, 2, 3, 4, 5, 6, 7, 8, and 9. Duplicate numbers are not permitted in any box. Each box will differ from the other boxes. In the illustration to the left the numbers 1, 2, and 8 are the "givens". They can not be changed. Fill in the remaining numbers as shown in black to complete the box.</p>
	
	<p>In summary, the Sudoku rule is: Complete the Sudoku puzzle so that each and every row, column, and box contains the numbers one through nine only once.</p>
	<p>There is only one solution to a properly designed Sudoku puzzle.</p>

	<p>Instructions &amp Images from Sudoku Essentials (<a href="http://www.sudokuessentials.com/sudoku_rules.html">http://www.sudokuessentials.com/sudoku_rules.html</a>)</p>
	<form action="/" method="get"><button>Return to Game</button></form>
</div>