body{
	text-align: center;
	font-family: Arial;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

div.new-game, div.box, div.cell {
	display: inline-block;
}

.box{
	/*border: 2px solid black*/
	outline: 2px solid black
}

.cell input{
	width: 30px;
	height: 30px;
	font-size: 20;
	text-align: center;  
}

.incorrect{
	background-color: yellow;
}

.value-provided{
	background-color: #DDD;
}

.correct{
	background-color: green;
}

#flash{
	margin: 20px;
}